
  /* header */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;     
    background-color: #8c7284;
    /* not working
    margin: 0;
    padding: 0;
    box-sizing: border-box;  */
  }

   
  /* body  */
  body {
    min-height: 100%;
    line-height: 2.5;
    font-family: Calibri ;
  }
  
  h1 {
    font-size: 200%;
    color: black;
  }
  
  h2 {

    font-size: 150%;
  }

  .hero-banner {
    
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-color: pink;
    /* background-image: url("../images/02-hero-bg.jpg"); */
    background-size: cover;
    background-position: center;
}




  /* navigation, lists, anchor refs, */
  nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 400px;
    list-style: none;
  }

  
  nav a {   
    font-weight: bold;
    color: black;
    text-decoration: none;
    font-size: 110%;
  }

  nav a:hover {
    color: white;
  }

  